body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin:20px;
    font-size: 1em;
}
img {
    width: 50%;
    height: auto;
}
footer{
    padding: 10px;
    border-top: 5px solid black;
}
.FlexContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 65%;
    height: 80vh;
    overflow: auto;
    flex-direction: row;
    gap: 20px;
}
