body {
    font-family: Arial, sans-serif;
    text-align: center;
    margn:20px;
    font-size: 1em;
}
img {
    width: 25%;
    height: auto;
}
.FlexContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 65%;
    height: 80vh;
    overflow: auto;
    flex-direction: row;
}
.text {
    width: 50%;
    margin: 0 auto;
}
.line {
    margin: 30px;
    width: 20px;
    background: black;
}
